<div>
    <%= @flat.name %>
    <%= @flat.description %>
    <%= @flat.address%>
    <%= @flat.price_per_night %>
    <%= @flat.number_of_guests %>
</div>

<%= link_to "Edit Flat Information", edit_flat_path  %>
<%= link_to "All our Flats", flats_path  %>
